/* <selector> {
    <style>
} */

/* TAGS */
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
article,
form,
input {}

/* CLASSES */
.class-name {
  color: red;
}

/* ID */
#id-name {
  color: blue;
}

.items {
  p {}
}






/* PSEUDO CLASSES */
:hover,
:visited,
:active,
:focus,
:target,
:lang(en),
:root,
:empty,
:matches(.class-name),
:not(.class-name) div p {}

div {
  p {}
}


div>p {}

\
 p:hover {}

a:visited {}

<div><p></p><div><p></p></div></div>:hover:active:visited:focus ::first-line - Style the first line of text ::selection - Style user-selected text ::first-letter - Style the first letter of text ::before - Insert content before an element ::after - Insert content after an element ::marker - Style list item markers