body {
    display: flex;
    width: 100vw;
    height: 100vh;

}

* {
    margin: 0;
    padding: 0;
}


.left {
    background: rgb(17, 117, 157);
    padding: 2rem;
    color: white;
    flex-basis: 20%;

    header {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        :nth-child(1) {
            background-color: rgb(214, 88, 34);

        }

        li {
            background-color: rgba(0, 0, 0, 0.275);
            padding: 1rem;
            border-radius: 5px;
        }
    }
}



.right {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-left: 2rem;

    h3 {
        color: rgb(17, 117, 157);

    }


    .badge {
        background-color: rgb(34, 157, 214);
        padding: 0.5rem;
        border-radius: 5px;
        align-self: flex-start;
    }


    .right-header p {
        margin-top: 0.5rem;
    }
}